body,xhtml {
	width: 100%;
	height: 70%;
	font-family: Tahoma;
	background-image: url("#{resource['img/fundo1.png']}");
}

#logo {
	width: 1000px;
	height: 100%;
	padding-left: 8px;
	padding-right: 10px;
	margin: auto;
}

#fundo {
	width: 100%;
	padding-left: 8px;
	padding-right: 10px;
	margin: auto;
}

#menu ul {
	
	margin: 0%;
	float: left;
	width: 79.5%;
	margin-left: 10.1%;
	background-color: #EDEDED;
	list-style: none;
	font: 150% Tahoma;
	
	font: 150% Tahoma;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#menu ul li {
	display: inline;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#menu ul li a {
	background-color: #EDEDED;
	color: #333;
	text-decoration: none;
	border-bottom: 8px solid #EDEDED;
	padding: 0.5% 5.3%;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}

#menu ul li a:hover {
	background-color: #D6D6D6;
	color: #000000;
	border-bottom: 5px solid #CE9C15;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/* SLIDER */
#carousel-example-generic {
	height: 300px;

}

#carousel-example-generic img {
	height: 300px;
	width: 100%;
	
	margin-top: 5%;
}

#apresentacao {
	width: 1000px;
	padding-left: 8px;
	padding-right: 10px;
	margin: auto;
	font-size: 16px;
	color: #CE9C15;
	text-align: justify;
}

#cadastro {
	background-color: #e1e1e1;
	left: 50%;
	margin: -130px 0 0 -210px;
	padding: 30px;
	position: absolute;
	top: 60%;
	color: #CE9C15;
	text-align: center;
	border-radius: 20px;
	
}

#listar {
	background-color: #e1e1e1;
	
	left: 20.999%;
	margin: -130px 0 0 -130px;
	padding: 30px;
	position: absolute;
	top: 53%;
	color: black;
	text-align: center;
	width: 78.5%;
	height: 50%;
	border-color: black;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
	
}

#rodape {
	position: absolute; 
	width: 100%;
	font: 100% Tahoma;
	color: black;
	opacity: 0.7;
	background-color: #EDEDED;
	bottom: -0.5px; 
	text-align: center;
	
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  }
  
.table-overflow {
    max-height:200px;
    max-width:100%;
    overflow-y:auto;
    text-align: center;
    text-decoration: none;
    text-align: left;
   -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    
}
.style {
	size: 12px;
	font-style:  #CE9C15;
	
}
.img{
	text-align: center;
	width: 5px;
}
.form_login {
	margin-left: 75%;
	
	margin-top: -15%;
	 -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
  